@mixin nav-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  agto-navbar {
    color: mat-color($primary, default-contrast);

    .agto-navbar, .agto-navbar-header {
      background: mat-color($primary);
    }
  }
}
