<mat-sidenav-container class="captch-viewer-sidenav-container">
  <mat-sidenav
    #sidenav
    *ngIf="(isScreenSmall | async)"
    class="captch-viewer-sidenav"
    [opened]="(isScreenSmall | async) === false"
    [mode]="(isScreenSmall | async) ? 'over' : 'side'"
    [fixedInViewport]="(isScreenSmall | async)"
    [fixedTopGap]="(isExtraScreenSmall | async) ? 56 : 56"
  >
    <agto-captch-nav></agto-captch-nav>
  </mat-sidenav>

  <div class="captch-sidenav-content">
    <agto-captch-page-header (toggleSidenav)="toggleSidenav(sidenav)"></agto-captch-page-header>
    <div class="captch-sidenav-inner-content">
      <main class="captch-sidenav-body-content">
        <agto-captch-nav *ngIf="(isScreenSmall | async) === false">
        </agto-captch-nav>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</mat-sidenav-container>
