@import '~@angular/material/theming';

@import './app/shared/navbar/navbar-theme';
@import './app/pages/captch-sidenav/captch-sidenav-theme';
@import './app/pages/homepage/homepage-theme';

@include mat-core();

@mixin agto-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  .agto-app-background {
    background: mat-color($background, background);
  }

  .agto-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .agto-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  @include nav-bar-theme($theme);
  @include captch-viewer-sidenav-theme($theme);
  @include home-page-theme($theme);
}

$primary: mat-palette($mat-gray, 900, 700, 400);
$accent:  mat-palette($mat-brown, 900, 700, 400);

$theme: mat-light-theme($primary, $accent);
