<mat-card>
  <mat-card-header>
    <mat-card-title>人工辨識</mat-card-title>
    <mat-card-subtitle>sample.png</mat-card-subtitle>
  </mat-card-header>
  <div class="captch-code-img">
    <agto-captch-code-img [src]="image" width="100%"></agto-captch-code-img>
  </div>
  <mat-card-content>
      <agto-captch-code-input [length]="5"></agto-captch-code-input>
  </mat-card-content>
  <mat-card-footer>
    <div>
      <button mat-button color="warn">重置</button>
    </div>
    <div>
      <button mat-button>略過</button>
      <button mat-button>送出</button>
    </div>
  </mat-card-footer>
</mat-card>
